.backBtn {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #003ad2;
  opacity: 0.7;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.ant-picker-input > input {
  color: #1f4173;
  font-size: 13px;
  font-weight: 600;
}

.header h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #000000;
}

.styleCalender {
  width: 140px;
  height: 40px;
  background: #f0f2f5;
  border-radius: 10px;
}

.ant-picker-input > input {
  color: #1f4173;
}

.styleDateIcons {
  display: flex;
  justify-content: space-around;
  width: 3rem;
}

.filterForm {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.formStyle Input {
  border-radius: 10px;
  height: 40px;
  width: 180px;
  margin-right: 10px;
  /* font-family: "Proxima Nova"; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #1f4173;
}

.formStyle Button {
  width: 60px;
  height: 40px;
  background: #003ad2;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.styleRes span {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #b5c1d3;
  margin-left: 5px;
}

.ExportBtn {
  margin-left: 10px;
  border-radius: 0.5rem;
  background-color: #8b9cb8;
  color: #fff;
}

.styleDataTable {
  margin-top: 2rem;
}
.styleDataTable Table {
  border-radius: 1rem;
}

/* resource modal */
/* .modalHeading {
  width: 470px;
  color: #656f76;
  background-color: #f8f9fb;
}

.StyleModalTable {
  width: 40rem;
} */
