.backBtn {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #003ad2;
  opacity: 0.7;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 1rem; */
}

.ant-picker-input>input {
  color: #1f4173;
  font-size: 13px;
  font-weight: 600;
}

.header h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.02em;
  color: #000000;
}

.styleCalender {
  width: 140px;
  height: 40px;
  background: #f0f2f5;
  /* left: 1260px; */
  /* top: 136px; */

  /* background: #1F4173; */
  /* opacity: 0.05; */
  border-radius: 10px;
}

.ant-picker-input>input {
  color: #1f4173;
}

.styleDateIcons {
  display: flex;
  justify-content: space-around;
  width: 3rem;
}

.filterForm {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.formStyle Input {
  border-radius: 10px;
  height: 40px;
  width: 180px;
  margin-right: 10px;
  /* font-family: "Proxima Nova"; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #1f4173;
}

.formStyle Button {
  width: 60px;
  height: 40px;
  background: #003ad2;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.styleRes span {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #1f4173;
  font-weight: 600;
  font-size: 14px;
  margin-left: 5px;
}

.ExportBtn {
  margin-left: 10px;
  border-radius: 0.5rem;
  background-color: #8b9cb8;
  color: #ffffff;
}

.styleDataTable {
  margin-top: 2rem;
}

.styleDataTable Table {
  border-radius: 1rem;
}

/* resource modal */
/* .modalHeading {
  width: 470px;
  color: #656f76;
  background-color: #f8f9fb;
}

.StyleModalTable {
  width: 40rem;
} */
.timesheet-container {
  width: 100%;
  height: 100%;
}

.timesheet-back-button {
  display: flex;
  justify-items: center;
  align-items: center;
  color: blue;
  font-size: 100px;

}

.back-arrow {
  font-size: small;
}

.back-to-dashboard {
  font-size: small;
}

.timesheet-container-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
}

.timesheet-container-heading-title {
  height: 31px;
  width: 118px;
}

.filterBy {

  margin-top: 50px;
  color: blue;

}

.project-name-tab {
  /* display: flex;
  align-items: center; */

}


.timesheet-tabs {
  flex-wrap: wrap;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 100%;
  /* max-height: 100px; */

  
}
@media only screen and (max-width: 1452px) {
  .timesheet-tabs {
  justify-content: initial;
  

  }
  .project-name{
    margin-right: 10px;
    margin-top: 5px;
  }
  .project-owner{
    margin-right: 10px;
    margin-top: 5px;
  }
  .project-engagement{
    margin-right: 10px;
    margin-top: 5px;
  }
  .project-status{
    margin-right: 10px;
    margin-top: 5px;
  }
  .button-go{
    margin-right: 10px;
    margin-top: 5px;
  }
  .switch-resources{
    margin-right: 10px;
    margin-top: 5px;
  }
  .export-to-excel{
    margin-right: 10px;
    margin-top: 5px;
  }

}

.project-name {

  min-width: 130px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #1F4173;
  margin-right: 10px;
  

}

.project-owner {

  max-width: 180px;
  min-width: 130px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #1F4173;
}

.project-engagement {

  max-width: 240px;
  min-width: 180px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #1F4173;
}

.project-status {

  max-width: 120px;
  min-width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #1F4173;
}

.button-go {
  box-sizing: border-box;
  width: 60px;
  height: 40px;
  background-color: #003AD2;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;

}

.switch-resources {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #1F4173;
  width: 65px;
}

.export-to-excel {

  box-sizing: border-box;
  min-width: 150px;
  width: 120px;
  height: 40px;
  background-color: rgba(31, 65, 115, 0.5);
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-right: 24px;

}