/* * {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */

/* * {
  overflow-y: hidden;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
} */

.time {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-transform: capitalize;

  color: #1f4173;
}

.description {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  opacity: 0.7;
  padding-top: 0.5em;
  color: #1f4173;
}

.footer {
  /* background:"#fff";
    width:"100%"; 
    padding:"1em 0.5em 1em 1em";
    text-align:'center';
    border-radius:'0 0 1em 1em'; */

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: right;
  color: #003ad2;
}
/* .hoursLogged{

background: #24487d2e;
color: #1F4173;
border-radius: 10px;
padding: 0 3em 0 3em;
} */

.PageHeader-title {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  margin-bottom: 0.8em;
  /* width: calc(100vw - 200px); */
  /* left: 500px;
  position: relative;
  margin-left: 100px; */
  letter-spacing: -0.02em;
}

/* .styleDashboardTable {
  line-height: 1 !important;
} */

.ant-table {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-variant: tabular-nums;
  line-height: 1;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  font-size: 14px;
  background: #fff;
  border-radius: 2px;
}
