.filterBy {

    margin-top: 50px;
    color: blue;

}


.timesheet-tabs {
    flex-wrap: wrap;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    /* max-height: 100px; */


}

@media only screen and (max-width: 1452px) {
    .timesheet-tabs {
        justify-content: initial;


    }

    .project-name {
        margin-right: 10px;
        margin-top: 5px;
    }

    .project-owner {
        margin-right: 10px;
        margin-top: 5px;
    }

    .project-engagement {
        margin-right: 10px;
        margin-top: 5px;
    }

    .project-status {
        margin-right: 10px;
        margin-top: 5px;
    }

    .button-go {
        margin-right: 10px;
        margin-top: 5px;
    }

    .switch-resources {
        margin-right: 10px;
        margin-top: 5px;
    }

    .export-to-excel {
        margin-right: 10px;
        margin-top: 5px;
    }

}

.project-name {

    min-width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #1F4173;
    margin-right: 10px;


}

.project-owner {

    max-width: 180px;
    min-width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #1F4173;
}

.project-engagement {

    max-width: 240px;
    min-width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #1F4173;
}

.project-status {

    max-width: 120px;
    min-width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #1F4173;
}

.button-go {
    box-sizing: border-box;
    width: 60px;
    height: 40px;
    background-color: #003AD2;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;

}

.switch-resources {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #1F4173;
    width: 65px;
}

.export-to-excel {

    box-sizing: border-box;
    min-width: 150px;
    width: 120px;
    height: 40px;
    background-color: rgba(31, 65, 115, 0.5);
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-right: 24px;

}