.backBtn {
  display: flex;
  align-items: center;
  color: blue;
  font-size: 0.9rem;
}

.header {
  display: flex;
  /* gap: 29%; */
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 15px;
}
.header h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.02em;
}

.styleDateIcons {
  display: flex;
  justify-content: space-around;
  color: #1f4173;
  width: 59px;
  height: 17px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.filterStyle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #1f4173;
}
.formStyle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.1em;
}

.filterForm {
  display: flex;
  /* gap: 30em;  */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.2em;
}

.filterForm Input {
  margin-right: 0.4rem;
  /* width: 180px; */
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #eaeef4;
  color: #1f4173;
  font-size: 14px;
  outline: none;
}

.filterFormBtn {
  width: 60px;
  height: 40px;
  color: white;
  font-size: 14px;
  background: #003ad2;
  border-radius: 10px;
  outline: none;
  border: none;
}
/* 
.styleRes {
  margin-left: 100px;
} */

.styleRes span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.ExportBtn {
  /* width: 130px; */
  height: 40px;
  background: rgba(31, 65, 115, 0.5);
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  border: none;
  outline: none;
  margin-right: 15px;
}

.styleDataTable {
  margin-top: 30px;
  width: 100%;
  height: 400px;
}
.styleDataTable Table {
  border-radius: 1rem;
}

.table {
  width: 100%;
  height: 400px;
  background: #ffffff;
  box-shadow: 0px 4px 8px #d9ebf2;
  border-radius: 15px;
}

.tableHead {
  display: flex;
  background: #fafafa;
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 15px 15px 0px 0px;
}

.tableHead > tr > th {
  width: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: #1f4173;
}

.ant-table-thead > tr > th {
  font-weight: 600;
  font-size: 14px;
  color: #1f4173;
}

.ant-table-tbody > tr > td:first-child {
  opacity: 1;
}
.ant-table-tbody > tr > td {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1f4173;
  opacity: 0.7;
}

/* table */
