.backBtn {
  display: flex;
  align-items: center;
  color: blue;
  font-size: 0.9rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 1rem; */
}
.header h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -0.02em;
}

.styleDateIcons {
  display: flex;
  justify-content: space-around;
  color: #1f4173;
  width: 59px;
  height: 17px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.filterStyle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #1f4173;
}

.filterForm {
  display: flex;
  gap: 1em;
  align-items: center;
}

.filterForm Input {
  margin-right: 0.7rem;
  width: 180px;
  height: 40px;
  border-radius: 10px;
}

.filterFormBtn {
  width: 60px;
  height: 40px;
  color: white;
  background: #003ad2;
  border-radius: 10px;
}

.styleRes {
  margin-left: 30px;
}

.styleRes span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.ExportBtn {
  width: 130px;
  height: 40px;
  background: rgba(31, 65, 115, 0.5);
  border-radius: 10px;
  color: #b5c1d3;
}

.styleDataTable {
  margin-top: 2rem;
}
.styleDataTable Table {
  border-radius: 1rem;
}

.ant-table-thead > tr > th {
  font-weight: 600;
  font-size: 14px;
  color: #1f4173;
}

.ant-table-tbody > tr > td:first-child {
  opacity: 1;
}
.ant-table-tbody > tr > td {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1f4173;
  opacity: 0.7;
}
