.table-header {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    color: #000000;
    padding-left: 20px;
    padding-top: 15px;
}

.table-main {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    overflow-x: hidden;
    overflow-y: scroll;
}

.table-head {
    background-color: #FAFAFA;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-header-row {
    width: 100%;
    height: 45px;
    text-align: left;

}

.table-header-row-data {
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    color: #1f4173;
    text-align: left;
}



.table-body {
    width: 100%;
}

.table-body-row {
    width: 100%;
    height: 45px;
    text-align: left;
}



.table-body-row-data {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #627A9D;
}

.table-body-row-data-box {
    background: #F4F5F8;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    width: 82px;
    height: 32px;
    padding-top: 7px;
}

.table-body-col-first {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1F4173;
}

.table-scroll {
    max-height: 40vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.table-scroll thead th {
    position: sticky;
}

.table-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.table-scroll::-webkit-scrollbar {
    height: 10px;
    width: 6px;
    border-radius: 15px;
}

.table-scroll::-webkit-scrollbar-track {
    background: #ffffff;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 1px;
}

.table-scroll::-webkit-scrollbar-thumb {
    height: 165px;
    background: #e6eaf2;
    border-radius: 20px;
}