@import url("https://cdn.syncfusion.com/ej2/material.css");
.backBtn {
  display: flex;
  align-items: center;
  color: #2a84b5;
  margin-bottom: 20px;
  font-weight: 600;
}
.upperRow {
  display: flex;
  justify-content: space-between;
}
.weekTable {
  color: #305d9f;
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 4px 12px grey;
  background-color: white;
  width: 100%;
}

.headRow {
  background-color: rgb(243, 243, 243);
  border-bottom: 1px solid grey;
  padding: 10px;
}
.thead {
  padding: 20px;
  width: 29%;
}

.select {
  padding: 5px 10px;
  width: 200px;
  color: gray;
  background-color: #e6e9f0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: space-between;
}
.dateFilter {
  display: flex;
  align-items: self-end;
}

.datepicker {
  border: none;
  outline: none;
  text-decoration: none;
}

.ant-input-affix-wrapper > input.ant-input {
  color: grey;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
  color: #305d9f;
  font-weight: 500;
  width: 290px;
}

.e-input-group-icon.e-range-icon::before,
*.e-control-wrapper .e-input-group-icon.e-range-icon::before {
  color: #305d9f;
}

.optLabel {
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #305d9f;
  font-size: 17px;
  margin: 0 10px;
  padding-left: 20px;
  border-left: 2px solid rgb(170, 169, 169);
}

.textarea {
  background-color: rgb(230, 236, 255);
  border-radius: 7px;
  padding: 5px;
  border: none;
  resize: none;
  color: grey;
}

textarea.ant-input {
  width: 280px;
}

.ant-input-affix-wrapper > input.ant-input {
  background: transparent;
}

.weekBtn {
  margin: 5px;
  border-radius: 9px;
  font-weight: 700;
  width: 90px;
  padding: 5px;
}

.textareaEdit {
  position: absolute;
  z-index: 3;
  width: 200px;
  border-radius: 10px;
  resize: none;
}

.healthSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 4px 12px grey;
  background: #fff;
  position: absolute;
  height: 132px;
  width: 107px;
  border-radius: 12px;
}

.healthbtn {
  width: 87%;
  border-radius: 10px;
  border: none;
  padding: 5px 7px;
  margin: 2px 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-weight: 600;
}
.status {
  color: #305d9f;
  font-weight: 600;
  width: -webkit-fill-available;
  margin: 0 5px 9px 0;
  text-align: end;
}

/* responsive layout  */
@media screen and (max-width: 971px) {
  .upperRow {
    display: inherit;
  }
}

@media screen and (max-width: 855px) {
  .dateFilter {
    display: flex;
    align-items: self-end;
    justify-content: left;
    width: 60%;
  }
  .filter {
    display: inherit;
  }
  .status {
    text-align: left;
  }

  .optLabel {
    display: inline;
    margin: 0;
    padding-left: 0;
    border-left: none;
  }

  thead {
    padding: 2px;
    width: 29%;
  }
}
